* {
    box-sizing: border-box;
}
#global_wrapper {
    display: flex;
}
#cone_form {
    align-self: center;
    justify-self: center;
    padding: 24px;
    display: flex;
    gap: 8px;
    flex-direction: column;
}
#cone_form input {
    margin-top: 4px;
    height: 32px;
}
#cone_form button {
    margin-top: 8px;
    height: 48px;
}

#cone_form {
    display: flex;
    flex-direction: column;
    max-width: 500px;
}
#canvas {
    border-radius: 8px;
}